## Xavier Obezo - Reading Data

In [1]:
import numpy as np
import pandas as pd

### Read in the datafile `./Data/MainBelt.csv`

In [2]:
column_names = ['Name','Absolute Magnitude','Geometric Albedo']
belt_table = pd.read_csv('./Data/MainBelt.csv',comment='#',header=None,names = column_names)

### Write a function called `find_diameter` to compute the Diameters of the Main Belt Asteroids (MBAs)

* The function takes 2 arguments: an absolute magnitude and an albedo `(H, A)`
* The function returns the diameter of the asteroid
* The largest asteroid should have a diameter of ~ 1000 km

In [3]:
def find_diameter(H,A):
    d=(1329/np.sqrt(A)) * 10**(-0.2*H)
    return d

In [4]:
diameters = find_diameter(belt_table['Absolute Magnitude'],belt_table['Geometric Albedo'])

### Add a `Diameter` column to the data table

In [5]:
belt_table['Diameter']= diameters

In [6]:
belt_table

,Name,Absolute Magnitude,Geometric Albedo,Diameter
0,1 Ceres,3.34,0.0900,951.488900
1,2 Pallas,4.13,0.1587,498.008227
2,3 Juno,5.33,0.2383,233.863777
3,4 Vesta,3.20,0.4228,468.228119
4,5 Astraea,6.85,0.2268,119.042888
5,6 Hebe,5.71,0.2679,185.156356
6,7 Iris,5.51,0.2766,199.801568
7,8 Flora,6.49,0.2426,135.856237
8,9 Metis,6.28,0.1180,214.577399
9,10 Hygiea,5.43,0.0717,407.160279
10,11 Parthenope,6.55,0.1803,153.294692
11,12 Victoria,7.24,0.1765,112.759366
12,13 Egeria,6.74,0.0825,207.633778
13,14 Irene,6.30,0.1590,183.158222
14,15 Eunomia,5.28,0.2094,255.291669
15,16 Psyche,5.90,0.1203,253.158298
16,17 Thetis,7.76,0.1715,90.031175
17,18 Melpomene,6.51,0.2225,140.559425
18,19 Fortuna,7.13,0.0370,259.074172
19,20 Massalia,6.50,0.2096,145.488726
20,21 Lutetia,7.35,0.2212,95.748597
21,22 Kalliope,6.45,0.1419,180.939666
22,23 Thalia,6.95,0.2536,107.510370
23,24 Themis,7.08,0.0670,197.009686
24,25 Phocaea,7.83,0.2310,75.113672
25,26 Proserpina,7.40,0.1966,99.250619
26,27 Euterpe,7.00,0.1620,131.452083
27,28 Bellona,7.09,0.1763,120.892351
28,29 Amphitrite,5.85,0.1793,212.194848
29,30 Urania,7.57,0.1714,98.292317
...,...,...,...,...
1996,21792 (1999 ST7),13.10,0.0554,13.544722
1997,21967 (1999 WS9),12.20,0.0690,18.369631
1998,22097 (2000 BH4),12.20,0.0317,27.101626
1999,22147 (2000 WP32),13.40,0.0292,16.249259
2000,22464 (1997 AG14),13.00,0.0828,11.601384
2001,22805 (1999 RR2),12.50,0.1352,11.429747
2002,22955 (1999 TH251),12.90,0.0304,20.048791
2003,23059 Paulpaino (1999 XT45),14.50,0.0146,13.846772
2004,23099 (1999 XA160),11.60,0.0443,30.221994
2005,23103 (1999 XK169),12.90,0.0436,16.741013
2006,23129 (2000 AO100),11.90,0.0601,22.598923
2007,23167 (2000 GL124),13.00,0.1437,8.806363
2008,23956 (1998 VD9),13.00,0.0531,14.486975
2009,23977 (1999 GW6),13.00,0.0425,16.193119
2010,24013 (1999 RR113),13.10,0.1282,8.903914
2011,24035 (1999 SJ2),14.10,0.0512,8.889759
2012,24127 (1999 VZ52),11.40,0.0851,23.908933
2013,24388 (2000 AB175),11.90,0.0374,28.647662
2014,24980 (1998 KF2),13.70,0.0871,8.194376
2015,25000 Astrometria (1998 OW5),12.60,0.0311,22.758560
2016,25343 (1999 RA44),14.20,0.0252,12.101096
2017,25453 (1999 XU11),12.50,0.0957,13.585293
2018,25699 (2000 AD127),12.60,0.0346,21.576795
2019,25785 (2000 CY45),13.40,0.0238,17.998508
2020,25843 (2000 EQ84),13.30,0.0167,22.499183
2021,26125 (1992 RG),13.00,0.0975,10.691107
2022,26171 (1996 BY2),14.00,0.0480,9.614005
2023,26260 (1998 RA2),13.30,0.0670,11.232788
2024,26604 (2000 FO25),12.80,0.4331,5.561999
2025,26662 (2000 WB181),14.50,0.0186,12.267851

### Write a function called `find_mass` to compute the Masses of the MBAs. Assume $\rho$ = 3,000 kg/m$^3$

* The function takes 2 arguments: a diameter and a density `(diameter, density)`
* The function returns the mass of the asteroid
* The most massive asteroid should have a mass of ~ 1e21 kg

In [7]:
def sphere_volume(radius):
    return ((4/3)*np.pi*radius**3)

In [8]:
def find_mass(diameter,density):
    #diameter is in km and density is in meters
    radius = (diameter*1000)/2
    volume = sphere_volume(radius)
    mass = volume*density
    return mass

### Add a `Mass` column to the data table

In [9]:
diameter = belt_table['Diameter']
masses = find_mass(diameter,3000)

In [10]:
belt_table['Mass']= masses
belt_table

,Name,Absolute Magnitude,Geometric Albedo,Diameter,Mass
0,1 Ceres,3.34,0.0900,951.488900,1.353104e+21
1,2 Pallas,4.13,0.1587,498.008227,1.940124e+20
2,3 Juno,5.33,0.2383,233.863777,2.009133e+19
3,4 Vesta,3.20,0.4228,468.228119,1.612473e+20
4,5 Astraea,6.85,0.2268,119.042888,2.649905e+18
5,6 Hebe,5.71,0.2679,185.156356,9.970932e+18
6,7 Iris,5.51,0.2766,199.801568,1.252900e+19
7,8 Flora,6.49,0.2426,135.856237,3.938752e+18
8,9 Metis,6.28,0.1180,214.577399,1.551929e+19
9,10 Hygiea,5.43,0.0717,407.160279,1.060269e+20
10,11 Parthenope,6.55,0.1803,153.294692,5.658499e+18
11,12 Victoria,7.24,0.1765,112.759366,2.252049e+18
12,13 Egeria,6.74,0.0825,207.633778,1.406093e+19
13,14 Irene,6.30,0.1590,183.158222,9.651596e+18
14,15 Eunomia,5.28,0.2094,255.291669,2.613544e+19
15,16 Psyche,5.90,0.1203,253.158298,2.548569e+19
16,17 Thetis,7.76,0.1715,90.031175,1.146301e+18
17,18 Melpomene,6.51,0.2225,140.559425,4.362142e+18
18,19 Fortuna,7.13,0.0370,259.074172,2.731444e+19
19,20 Massalia,6.50,0.2096,145.488726,4.837354e+18
20,21 Lutetia,7.35,0.2212,95.748597,1.378850e+18
21,22 Kalliope,6.45,0.1419,180.939666,9.305104e+18
22,23 Thalia,6.95,0.2536,107.510370,1.951960e+18
23,24 Themis,7.08,0.0670,197.009686,1.201110e+19
24,25 Phocaea,7.83,0.2310,75.113672,6.656974e+17
25,26 Proserpina,7.40,0.1966,99.250619,1.535747e+18
26,27 Euterpe,7.00,0.1620,131.452083,3.567979e+18
27,28 Bellona,7.09,0.1763,120.892351,2.775341e+18
28,29 Amphitrite,5.85,0.1793,212.194848,1.500805e+19
29,30 Urania,7.57,0.1714,98.292317,1.491690e+18
...,...,...,...,...,...
1996,21792 (1999 ST7),13.10,0.0554,13.544722,3.903284e+15
1997,21967 (1999 WS9),12.20,0.0690,18.369631,9.736911e+15
1998,22097 (2000 BH4),12.20,0.0317,27.101626,3.126842e+16
1999,22147 (2000 WP32),13.40,0.0292,16.249259,6.739389e+15
2000,22464 (1997 AG14),13.00,0.0828,11.601384,2.452728e+15
2001,22805 (1999 RR2),12.50,0.1352,11.429747,2.345469e+15
2002,22955 (1999 TH251),12.90,0.0304,20.048791,1.265856e+16
2003,23059 Paulpaino (1999 XT45),14.50,0.0146,13.846772,4.170283e+15
2004,23099 (1999 XA160),11.60,0.0443,30.221994,4.336000e+16
2005,23103 (1999 XK169),12.90,0.0436,16.741013,7.369959e+15
2006,23129 (2000 AO100),11.90,0.0601,22.598923,1.812939e+16
2007,23167 (2000 GL124),13.00,0.1437,8.806363,1.072778e+15
2008,23956 (1998 VD9),13.00,0.0531,14.486975,4.775876e+15
2009,23977 (1999 GW6),13.00,0.0425,16.193119,6.669779e+15
2010,24013 (1999 RR113),13.10,0.1282,8.903914,1.108824e+15
2011,24035 (1999 SJ2),14.10,0.0512,8.889759,1.103545e+15
2012,24127 (1999 VZ52),11.40,0.0851,23.908933,2.146844e+16
2013,24388 (2000 AB175),11.90,0.0374,28.647662,3.693069e+16
2014,24980 (1998 KF2),13.70,0.0871,8.194376,8.643061e+14
2015,25000 Astrometria (1998 OW5),12.60,0.0311,22.758560,1.851630e+16
2016,25343 (1999 RA44),14.20,0.0252,12.101096,2.783518e+15
2017,25453 (1999 XU11),12.50,0.0957,13.585293,3.938464e+15
2018,25699 (2000 AD127),12.60,0.0346,21.576795,1.577904e+16
2019,25785 (2000 CY45),13.40,0.0238,17.998508,9.158606e+15
2020,25843 (2000 EQ84),13.30,0.0167,22.499183,1.789040e+16
2021,26125 (1992 RG),13.00,0.0975,10.691107,1.919499e+15
2022,26171 (1996 BY2),14.00,0.0480,9.614005,1.395831e+15
2023,26260 (1998 RA2),13.30,0.0670,11.232788,2.226295e+15
2024,26604 (2000 FO25),12.80,0.4331,5.561999,2.702791e+14
2025,26662 (2000 WB181),14.50,0.0186,12.267851,2.900183e+15

### List the names of the 5 most massive MBAs

In [11]:
sorted_table = belt_table.sort_values(['Mass'],ascending=False).reset_index(drop=True)
sorted_table[0:5]['Name']

0                    1 Ceres
1                   2 Pallas
2                    4 Vesta
3                  10 Hygiea
4       511 Davida (1903 LU)
Name: Name, dtype: object

### List the names of the 5 least massive MBAs

In [12]:
sorted_table1 = belt_table.sort_values(['Mass']).reset_index(drop=True)
sorted_table1[0:5]['Name']

0            26604 (2000 FO25)
1       4335 Verona (1983 VC7)
2      3338 Richter (1973 UX5)
3        4121 Carlin (1986 JH)
4      6295 Schmoll (1988 CF3)
Name: Name, dtype: object

### Determine the total mass of all of the MBAs

In [13]:
total_mass = belt_table['Mass'].sum()
total_mass

3.146177625451557e+21

### Determine the fraction of the total mass contained in the 5 largest MBAs

In [14]:
largest = sorted_table[0:5]['Mass'].sum()
largest/total_mass

0.5940076222297951

### How does the total mass of the MBAs compare to the mass of the Moon ($7.35\ \times\ 10^{22}$ kg)?

* Compute Total MBA Mass / Lunar Mass

In [15]:
total_mass/(7.35*10**22)

0.04280513776124568

### Due Mon Jan 28 - 1pm
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`
- `Save notebook as .html: File -> Download as -> HTML (.html)`
- `Upload .html and .ipynb to Canvas`

***

## Absolute Magnitude, Size and Mass - Solar System Objects

The absolute magnitude **H** of a solar system object is the magnitude that it would have if it was 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. Remember, astronomical magnitudes are "backwards".  The magnitude of a bright object is *less* than the magnitude of a dimmer object.

The phase angle **$\theta$** in astronomical observations is the angle between the light incident onto an observed object and the light reflected from the object. In the context of astronomical observations, this is usually the angle $\angle$ Sun-object-observer.

<p align="center"> 
<img src="./images/Phase.jpg">
</p>

It is actually impossible for an object to be 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. The Sun and the Earth would occupy the same point.  However, this is the definition of **H**.  Please note, that the definition of absolute magnitude for solar system objects is *very* different from the definition of absolute magnitude used for stars.

The Absolute magnitude of an object is related to the physical size of the object via the equation:

$$\large D\ (\textrm{in km}) = \frac{1329}{\sqrt{A}}\  10^{-0.2H}$$

Where **D** is the diameter of the object in kilometers and **A** is the geometric albedo of the object. 

The geometric albedo **A** of an astronomical body is the ratio of its actual brightness at zero phase angle (i.e., as seen from the light source) to that of an idealized flat, fully reflecting, diffusively scattering disk with the same cross-section.

Perfect reflectors of light have A = 1 and perfect absorbers have **A** = 0. Typical asteroids have a wide range of values: 0.02 $<$ A $<$ 0.8.

Once we have the diameter of the object, we can determine the mass if we know the density ($\rho$).

$ \large \mathrm{Mass} = \rho \cdot \mathrm{Volume} = \rho \cdot \frac{4}{3} \pi r^3 \ = \ \rho \cdot \frac{1}{6} \pi D^3 $

This assumes that the object is spherical (this is **not** a very good assumption for asteroids).

----

# <font color=blue>Ravenclaw</font>

* The file `./Data/M15.dat` contains data for the magnitude and color of stars in the globular cluster M15
* The file `./Data/M15.readme` decsribes the structure of datafile.

In [22]:
column_names = ['ID Number','Right Ascension','Declination','Visual Magnitude','UV Band','Note For UV']
m15_table = pd.read_csv('./Data/M15.dat',comment='#',skipinitialspace=True,delimiter = " ",header=None,names = column_names)
m15_table

,ID Number,Right Ascension,Declination,Visual Magnitude,UV Band,Note For UV
0,1,-47.24,-9.03,17.93,1.09,a
1,2,-46.73,-38.55,17.23,1.16,a
2,3,-46.38,-10.22,17.35,1.00,a
3,4,-45.70,-49.12,16.39,1.26,a
4,5,-44.96,-18.82,15.66,1.14,a
5,6,-44.87,-48.64,14.49,1.08,a
6,7,-44.79,-3.29,16.48,0.17,a
7,8,-43.84,4.40,17.75,1.14,b
8,9,-43.63,-16.98,16.30,0.28,a
9,10,-43.54,0.50,17.38,1.39,0.19
10,11,-42.88,-12.94,16.21,1.07,a
11,12,-42.70,-49.20,16.42,1.11,a
12,13,-42.19,-45.54,15.16,1.19,a
13,14,-41.90,8.37,17.47,1.08,0.17
14,15,-41.78,-28.69,16.58,0.76,a
15,16,-41.78,-17.53,17.20,1.04,a
16,17,-41.34,-42.29,17.21,1.11,a
17,18,-41.03,-20.06,15.96,1.00,a
18,19,-40.99,-8.21,16.14,1.02,0.77
19,20,-40.92,-28.85,17.07,1.09,a
20,21,-40.89,-13.55,15.87,0.84,a
21,22,-40.59,-24.09,16.17,0.40,a
22,23,-40.58,-55.82,14.71,1.09,a
23,24,-40.53,-11.80,17.87,1.03,a
24,25,-40.50,-5.83,17.43,1.04,0.34
25,26,-40.35,-15.32,17.05,1.01,a
26,27,-40.33,-55.92,16.25,0.90,a
27,28,-40.15,-0.23,17.13,1.08,0.23
28,29,-39.98,-37.30,16.38,0.39,a
29,30,-39.86,-54.70,16.07,1.17,a
...,...,...,...,...,...,...
1156,1157,18.08,-14.89,15.50,1.21,0.92
1157,1158,18.12,3.92,17.78,-0.01,a
1158,1159,18.24,-26.36,16.55,0.23,a
1159,1160,18.25,-3.13,17.05,0.84,0.59
1160,1161,18.33,4.02,17.85,1.06,a
1161,1162,18.37,-18.34,16.79,0.26,-0.41
1162,1163,18.43,-10.17,16.45,0.90,0.66
1163,1164,18.46,-0.98,14.43,1.07,1.78
1164,1165,18.47,-10.72,16.56,0.09,-0.08
1165,1166,18.48,-14.23,17.56,1.08,0.55
1166,1167,18.67,-4.64,14.12,1.05,1.68
1167,1168,19.03,-29.94,15.58,0.19,a
1168,1169,19.09,-2.96,17.15,0.10,-0.48
1169,1170,19.10,-39.84,16.37,1.13,a
1170,1171,19.13,-37.88,17.97,0.08,a
1171,1172,19.18,-38.62,17.93,0.97,a
1172,1173,19.19,-18.49,18.10,0.27,-0.11
1173,1174,19.24,-19.94,17.90,1.11,0.25
1174,1175,19.30,-4.32,17.76,0.87,0.50
1175,1176,19.38,-11.66,17.98,0.92,0.19
1176,1177,19.38,-50.23,15.43,1.14,a
1177,1178,19.39,-2.53,18.07,0.06,0.02
1178,1179,19.60,-48.93,17.34,1.13,a
1179,1180,19.98,-52.66,18.02,1.02,a
1180,1181,20.00,-25.66,17.62,1.10,a
1181,1182,20.42,-3.48,17.61,0.55,0.41
1182,1183,20.46,-39.08,15.76,0.23,a
1183,1184,21.12,-8.42,18.08,0.51,0.37
1184,1185,21.17,-3.40,15.29,0.65,1.06
1185,1186,23.15,-6.93,16.04,0.31,1.13

7116

### Write a function called: `find_bright_stars`

* The function takes 2 arguments: a pandas table name and a magnitude `(table, mag)`
* The function returns the number of stars in `table` that are brighter than `mag`
* Show that `find_bright_stars(M15_Table, 15)` will output `95`

This challenge wasn't too hard. Just used a mask to determine which stars had a higher magnitude, or lower number. Then I just counted the length of the mask.

In [47]:
def find_bright_stars(table,mag):
    mask = np.where(table['Visual Magnitude'] < mag)
    #I'm not totally sure why I have to ask for the 0th place
    return len(mask[0])

In [48]:
find_bright_stars(m15_table,15)

95

----

### <font color=blue>Hermione Granger level</font>


### Write a function to estimate the number of [F-type main sequence stars](https://en.wikipedia.org/wiki/F-type_main-sequence_star) in the M15 dataset

* The [distance modulus](https://en.wikipedia.org/wiki/Distance_modulus) of M15 = 15.4
* The characteristic of the stars [78 Ursae Majoris](https://en.wikipedia.org/wiki/78_Ursae_Majoris) and [Iota Piscium](https://en.wikipedia.org/wiki/Iota_Piscium) are good standards.

During my research I found that F-type stars have an absolute magntitude between 1.4 and 5.1. You gave us the distance modulus and apparent magnitude so I used that to get the absolute magnitude.

In [76]:
def absolute_magnitude(table,distance_mod):
    app_mag = table['Visual Magnitude']
    abs_mag = distance_mod - app_mag
    return abs_mag

#Testing
abs_table = absolute_magnitude(m15_table)
mask1 = np.where((abs_table > 1.4) & (abs_table < 5.1))
len(mask1[0])

36

Once I had the absolute magnitude I just had to set the rules for what an f type star is.

In [77]:
#Quick Note: The table is the original one. Finding the absolute mag is
## part of the functions job.
def find_f_stars(table):
    abs_table = absolute_magnitude(table)
    mask1 = np.where((abs_table > 1.4) & (abs_table < 5.1))
    return len(mask1[0])

In [78]:
find_f_stars(m15_table)

36